.card {
  width: 16rem;
  margin-bottom: 30px;

  .btn {
    margin-left: auto;
  }
}

.card-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-text {
  margin-bottom: 0;
}
